body {
		
		background-color: rgb(63,72,204);			
		color: black;
		font-family: "Comic Sans MS", "Comic Sans";
		
	}

	

/*All other styles for web site */ 
	#CenterBox {
		background-color: rgb(153,217,234);				
		display: inline-block;
		overflow: hidden;					
		border: 5px solid black;
		position: relative;			
		width: 93%;
		
		min-height: 70vh;
		
		margin-top: 0;
		margin-left: 2%;				
		
		padding-top: 2vh;
		padding-bottom: 2vh;
		padding-left: 1vw;
		padding-right: 1vw;
	
	}
/*End of all other styles for login */		

/*Navigation bar styles*/
		#NavigationBar {
			border-radius: 25px;
			background-color: Red;
			width: 99%;
			height: 100px;
			border: 5px solid black;			
			text-align: left;									
			position: relative;
			top: 0%;
			left: 0%;			
			display: block;
			float: left;			
			overflow: hidden;
			padding: 0;
			
		}
		
		#homeButton {
			text-align: center;									
			display: inline-block;
			float: left;
			padding: 1% 3% 1% 3%; /*padding: <padding-top> || <padding-right> || <padding-bottom> || <padding-left>*/
			height: 100%;
		}
		
		#Schedulebutton {
			text-align: center;									
			border-left: 5px solid black;
			display: inline-block;
			float: left;				
			margin:0;
			padding: 1em;
			height: 100%;
		}
		
		
		#EditButton {
			text-align: center;								
			border: 5px solid black;
			height: 80px;
			width: 80px;
			border-radius: 50%;						
			padding: 3px;				
			display: inline-block;
			float: right;
			margin: 0;

		}
		.EditButtonNotHover {
			background: cyan;
		}
		.EditButtonHover {
			background: rgb(0,157,141);
		}
		
		#NavigationBar  a {
			color: black;
			font-weight: bold;
		}						
		#logoutButton {
			/*margin: 0% 0% 0% 0%;*//*Margin: <Margin-top> || <Margin-right> || <Margin-bottom> || <Margin-left>*/
			padding: 0;				
			display:  block;
			float: left;									
			border-radius: 50%;		
			border: 5px solid black;							
			height: 80px;
			width: 80px;
		}
		
		.NoHoverlogoutButton {
			background: lime;
		}
		.HoverlogoutButton {
			background: green;
		}
				
		
		#homeButton p {			
			text-decoration: underline;
			
		}
		
		#Schedulebutton p {
			text-decoration: underline;
			height: 100%;
		}
		.NavTitleMyProfile {
			text-decoration: underline;
			display: block;
		}
		
		#EditButton p {
			text-decoration: underline;
		}
		
		#logoutButton p {
			text-align: center;
			vertical-align: middle;
			overflow: hidden;
			text-decoration: underline;
		}			
		/*Holds the name and picture of the currently loged on user*/
	
	#MyProfilebutton {
		text-align: left;								
		border-left: 5px solid black;
		border-right: 5px solid black;
		display: inline-block;
		float: left;
		overflow: hidden;
		
		height: 100%;		
	}

	#pBlock {
		display:  inline-block;
		float: left;		
		margin: 0;
		height: 100%;
		padding: 1em;
	}
	
	.NavNameBox {
		display: block;
		
 
	}
	
	.NavNotification {
		display: block;
		
	}
	
	#MyProfilebutton img {									
		height: 90%;
		border-radius: 50%;				
		border: 2px solid grey;		
		padding: 3px;		
		background: white;
		display: inline-block;
		float: left;
		margin: 0;
	}
	
	.NavNotHover {
		background: red;
	
	}
	
	.NavOVER {
		background: rgb(154, 12, 19);
		
	}
/*End of navigation bar Styles*/




	

		

	
	
	
	/* myProfilepic styles*/
	#ProfileBox {
		
	}
	
	#ProfileErrorBox {		
		color: black;
		display: none;
		width: 60%;
		height: 70%;
		display: block;
		float: left;		
		text-align: left;
					
	}
	
	#CRTtable {	
		float: left;
		margin: 1em;
		border-collapse: collapse;
		background:rgb(195,195,195);
		border: 5px solid black;
	}
	#CRTtable thead {
		border-bottom: 5px solid black;
		background: white;
	}
	#CRTtable td {
		padding: 0.3em;
		
	}
	#CRTtable th {
		
		padding: 0.3em;
	}

	#Superprofilepic {
		position: relative;
		display: block;
		float: left;
		border: 5px solid black;
		margin: 1em;		
		background: rgb(195, 195, 195);
		overflow: hidden;
	}
	#InnerProfilePic {								
		text-align: center;
	}
	#Superprofilepic h3 {
		padding: 0;
		margin: 0;		
		border-bottom: 5px solid black;
		background: white;
	}
	
	#Superprofilepic img {
		position: relative;	
		border: 2px solid grey;
		border-radius: 4px;
		padding: 5px;
		width: 150px;
		background: white;		
		margin: 0;
	}
	
	#Superprofilepic img:hover {
		box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	}	
	#UploadProfilePic {
		display: none;			
	}
	#ChangeProfiePic { 
		padding-top: 5%;
		padding-bottom: 5%;
		font-size: 0.8em;
	
		border-radius: 15vh / 15vh;				
		margin: 2%;
		
	}
	
	.ChangeProfiePic {
		color: blue;
		text-decoration: underline;		
		background: white;
		border: 1px dashed blue;
	}
	.HoverChangeProfiePic {
		color: red;
		text-decoration: underline;		
		background: rgb(255,202,202);
		border: 1px dashed red;
		font-size: 0.9em;
		cursor: pointer;
		cursor: hand; 
	}		
	
	
	
	
	#NotificationBOX {
		width: 25%;		
		border: 5px solid black;
		background: rgb(195,195,195);
		padding: 0;
		display: block;
		float: left;
		margin: 1em;
	}	
	#NotificationBOX h3 {
		padding: 0;
		margin:0;
		border-bottom: 5px solid black;
		background: white;
	}
	#NotificationBOXInner {
		margin: 0;		
		max-height: 60vh;
		min-height: 1em;
		overflow: auto;
		
	}
	
	.OldNotification {
		background: grey;
	}
	.NewNotification {
		background: white;
	}
	#notificationCell {
		border: 3px solid black;
		padding-left: 1em;
		padding-right: 1em;
		margin: 0.5em;
		border-radius: 15px;
	}
	
	#UserAvailability {		
		
		border: 5px solid black;
		background: rgb(195,195,195);
		padding:0;
		
		display: block;
		float: left;	
		margin: 1em;
	}
	#UserAvailability h3 {
		padding: 0;
		margin:0;
		border-bottom: 5px solid black;
		background: white;
	}
	#UserAvailabilityinner {
		margin: 0;
		padding: 1em;
	}
	#imgForm {
		padding: 1em;
	
	}
	/*End of myprofilepic styles */
	
	
	
	
	
	


	
	
	
/*Start login styles*/		
		#loginParentBox { 


			margin-top: 10vh;
			margin-left: 5vw;
			margin-right: 5vw;
			margin-bottom: 5vh;
			height: 100%;
		
			text-align: center;
			background-color: rgb(153,217,234);				
			border: 5px solid black;					
			
		}
		
		#loginBox {
			
						
		}
		#loginBox h1 {
			width: 100%;
			text-align: center;
		}
		
		.modal {
			display: none; 
			position: fixed; 		
			left: 0;
			top: 0;
			width: 100%; 
			height: 100%; 		
			background-color: rgb(0,0,0); 
			background-color: rgba(0,0,0,0.6); 			
		}
		#ModalContent {
			background-color: rgb(195,195,195);
			margin: 20% auto;	
			border: 3px solid black;
			width: 50%; 
			padding: 1em;
		}
		
		#HelpModal {
		display: none; 
		position: fixed; 		
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%; 		
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.6); 
			
		}
		#HelpModalContent{
			background-color: rgb(195,195,195);
			margin: 20% auto;	
			border: 3px solid black;
			width: 50%; 
			padding: 0;
		}
		.loginhelpmessage{
			font-size: 0.9em;
			text-align:left;
			margin: 2em;
		}
		
		
		#loginbutton {
			width: 7vw;
			height: 4vh;
			background-color: green;
			border: 1px solid black;
			border-radius: 10px;
			
			
		}
		
		#errorBox p { 
			text-align: left;
			
		}
		
				
		#help {
			width: 10%;
			height: 10%;
			border: 5px solid black;
			background-color: red;
			border-radius: 50%;	
			
		
		}
			
		#help p {
			text-align: center;
			vertical-align: middle;
			color: black;
			
		}
		
		#authorship {
			background: white;
			border: 5px solid black;
			position: fixed;
			bottom: 1vh;
			right: 1vw;
			width: 10vw;
			padding-left: 1vw;
			
		}
		#authorshipV2 {
			background: white;
			border: 5px solid black;
			/*position: fixed;
			bottom: 1vh;
			right: 1vw;*/
			float: right;
			display: block;
			width: 10vw;
			padding-left: 1vw;
			
		}
		
		#RedErrorBox {
			color: red;
			float: center;
			position: relative;
			margin-top: 10%;
			
			
		}
	
/*End login styles*/















		







/* Edit page Styles */
		#SupervisorControls {			
			margin: 3vw;
			list-style-type: none;
			
			
		}
		
		#SupervisorControls  li {
		
			border: 1px solid navy;
			margin-bottom: 1em;
			margin-right: 2em;
			padding: 1em;
			text-align: center;
			
		}
	
		.GoToTodaynotHover {
			background-color: red;
			color: black;
			cursor: pointer;
			cursor: hand;
		}				
		.notHover {
			background-color: white;
			color: navy;
			cursor: pointer;
			cursor: hand;
		}					
		.liOVER {
			background-color: rgb(190, 146, 209);
			color: black;
			cursor: pointer;
			cursor: hand;
		}
		
		#ManageShiftsNav {
			
			width: 25%;
			display: inline-block;
			float: left;
			padding-left: 1em;
		}
		
		#ManageEmployeesNav {
			
			width: 25%;
			display: inline-block;
			float: left;
			padding-left: 1em;
		}
		
/*End of edit page styles*/








/* Create New Employee page styles */
	#CreatenewEmployeeBOX {	
		width: 100%;
	}
	
	#CreatenewEmployeeBOX h1 {
		text-align: left;
		position: relative;		
		left: 5%;
	}
	
	#CreatenewEmployeeBOX form {
		text-align: left;
		position: relative;		
		left: 10%;
		width: 60%;
		margin: 0;
		padding: 0;
		display: inline-block;
		float: left;
		
	}
	
	#CreateEmployeeForm input {
		
	}
	
	#CreateEmployeeForm p {
		
	}
	
	#CreateEmpButton{
		color: black;
		background: green;
		border: 4px solid black; 		
		width: 30vh;
		height: 10vh;
		border-radius: 15vh / 5vh;
		font-weight: bold;
		margin-left: 5%
	}
	
	#certsDiv {
		margin-left: 10%;
		margin-bottom: 4%;
	}
	
	#certsDiv input {
		
		margin-bottom: 2%;
	}
	
	#CertificationError {
		color: red;
		display: inline;
		
		
	}
	
	#passwordError { 
		color: red;
		display: inline;
		margin:  0 0 0 1%; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/	
		padding: 0 0 0 0; /*padding: <padding-top> || <padding-right> || <padding-bottom> || <padding-left>*/
	}
	
	
	#FirstnameError {
		color: red;
		display: inline;
		margin:  0 0 0 1%; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/
		padding: 0 0 0 0; /*padding: <padding-top> || <padding-right> || <padding-bottom> || <padding-left>*/
	}
	
	#LastnameError {
		color: red;
		display: inline;
		margin:  0 0 0 1%; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/
		padding: 0 0 0 0; /*padding: <padding-top> || <padding-right> || <padding-bottom> || <padding-left>*/
	}
	
	#SuccessORfailbox {
		position: relative;
		left: 5%;
		top: 20%;
		text-align: left;
		width: 20%;
		margin-left: 3%;
		display: inline-block;
		float: left;
		
	}
/*End of create new employee page styles*/
	
	
	
	
	
	
	
	
	

/*Delete employee Styles */	
	#DeleteEmployeepage {
	}

	.DELETEEmployeeCell {
		display: block;
		border: 3px solid black;
		margin: 0.5em;
		padding: 0.5em;		
		text-align:  left;
	}
	.DELETEliOVER {
		background: white;
		cursor: pointer;
		cursor: hand; 
	}
	.DELETEnotHover {
		background: rgb(195,195,195);
	}
	
	#DELETEEmployeeListInner {		
		direction: ltr;
		overflow: auto;
		height:  100vh;
		
	}
	#DELETEEmployeeListInner a {
		text-decoration: none; 
		color: black;
	}
	#DELETEEmployeeList h3	{
		text-align: center;
		/*padding: 0.5em 0.5em 0.5em 0.5em;*/
		height: 5vh;
		margin: 0 0 0 0;
		background: rgb(195,195,195);
		border-bottom: 5px solid black;
	}
	
	#DELETEEmployeeList {
		background: white;
		color: black;		
		text-align: left;		
		direction: rtl;
		border: 5px solid black;
		display: inline-block;
		float: left;
		
	}
	
	/*FOR create user implementation*/
	
	
	
	

	
	
	#DeleteForm {		
		text-align: center;
		display: block;
		float: left;
		
		
		margin: 0 0 10% 0;
	}
	
	#DeleteForm input {
		background: rgb(195,195,195);
		color: black;
		margin-bottom: 0.5em;
	}
	
	/*The h1 on delete employee*/
	#DeleteEmployeeBox h1 {
		
		
	}
	
	#DeleteSuccessORfailbox {				
		display: block;
		float: left;	
		margin: 0 0 0 0; /*TOP right Bottom left*/		
		width: 100%;	
		text-align: center;
		text-decoration: underline;
		border: 5px solid green;
		background: white;	
	}
	
	#DeleteSuccessORfailbox p {
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}
	
	#confirmDelete p {
		
	}
	
	
	#confirmDelete {
		width: 300px;	
		border:	5px solid black;
		background: white;
		display: block;
		float: left;
		margin: 0 0 0 0; /*TOP right Bottom left*/	
		padding: 0;
	}
	
	#CancelDeleteButton {
		display: block;
		float: left;
		color: black;
		background: rgb(195,195,195);
		border: 4px solid black; 		
		width: 15vh;
		height: 15vh;
		border-radius: 15vh / 15vh;
		font-weight: bold;
		
		margin: 0 0 0 0; /*TOP right Bottom left*/	
		padding: 0;
	}
	
	#DeleteButton {
		display: block;
		float: right;
		color: black;
		background: red;
		border: 4px solid black; 		
		width: 15vh;
		height: 15vh;
		border-radius: 15vh / 15vh;
		font-weight: bold;
		
		margin: 0 0 0 0; /*TOP right Bottom left*/	
		padding: 0;
	}

	
	#DeleteButton p {
		
	}
	
	#ThisEmployeezShiftsBox {		
		
		direction: ltr;		
		display: block;
		float: left;
		padding: 0.25em;
		margin-right: 2%;
		margin-left: 10%;
	}
	
	#ThisEmployeezShiftsList {
		background: white;
		color: black;
		padding-bottom: 0.25em;
		width: 250px;
		direction: rtl;
		border: 5px solid black;
	}
	
	#ThisEmployeezShiftsList h4 {
		width:  100%;
		background: rgb(195, 195, 195);
		border-bottom: 4px solid black;
		margin: 0 0 0 0; 
		padding: 0 0 0 0;
		text-align: center;
	}
	
	
	
	#DeleteShiftCell {
		background: rgb(195, 195, 195);
		border: 1px solid black;
		margin:  0.2em 0.5em 0.2em 0.5em ; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/		
		padding: 0.5em 0 0.5em 0;
		text-align: left;
	}
	
	#DeleteShiftCell p {
		margin: 0 0 0 0; 
		padding: 0 0 0 0;
	}
/*End of delete employee styles  */










/* Update styles */	
	#UpdateBox {
		text-align: center;	
	}	
	#UpdateBox h1 {
	}
	#UpdateEmpyeeCaption {
		background: rgb(195,195,195);
		border-top: 3px solid black;
		border-left:3px solid black;
		border-right: 3px solid black;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		text-align: center;		
	}	
	
	
	
	
		/* Start of Update Employee Table*/
			/*table*/
			#UpdateEmployeeTable {
				border: 3px solid black;			
				margin: 0;
				padding: 0 0 0 0;				
				overflow:hidden;
				width: 100%;
				/*display: block;*/
				background: rgb(195,195,195);
			}
			/*thead*/
			#UpdateTableHeadders {
				background: rgb(221,221, 221);
				/*display: block;		*/
				padding: 0em 0em 0em 0em;/* top right bottom left*/
				margin: 0; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/
				border-bottom: 3px solid black;		
			    display:table;
				width:100%;
				table-layout:fixed;/* even columns width , fix width of table too*/
			}
			
			/*th*/
			.UpHeaderCell {				
				border: 1px solid black;
				/*width: 11%;*/
			}			
			/*tbody*/
			#UpdateEmployeeTableinner {
				border: 1px solid black;
				background: white;					
				overflow: auto;
				height: 25vh;
				display: block;
				margin:0;
			}			
			/*tr inside tbody*/
			.UpdateEmployeeCell {						
				border: 1px solid black;
				margin:  0.5em 0.2em 0.5em 0.2em ; /*top right  bottom left*/
				/*display: block;*/
				overflow: hidden;
				padding: 0.1em;
				 
				display:table;
 				width:98%;
				table-layout:fixed;/* even columns width , fix width of table too*/
			}
			/*td*/			
			.upEmCell {
				/*display: inline-block;*/
				border-right: 1px solid black;
				overflow: hidden;
			}		
			/*When a table row does not have mouse hover*/
			.notHoverTable {
				background-color: rgb(4,211,255);
				color: black;
				border: 2px solid black;
			}
			/*When a table row does have mouse hover*/
			.liOVERTable {
				background-color: rgb(5, 255, 12);
				border: 2px solid black;
				color: black;
				cursor: pointer; 
				cursor: hand; 
			}					
		/* End of Update Employee Table*/
	
	
	
	
	#UpdateReturnError {
		text-align: left;		
		background: white;
		border: 3px solid black;	
		margin: 1em 2em 0.5em 2em;/*top right bottom left*/
	}
	
	#UpdateReturnError h3 {
		background: rgb(195,195,195);
		border-bottom: 3px solid black;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	

	
	#UpdateForm {
		text-align: center;
		margin: 0 1em 0 1em;/*Margin: <Margin-top> || <Margin-right> || <Margin-bottom> || <Margin-left>*/						
	}
	
	#btn_UpdateEmployee {
		color: black;
		background: green;
		border: 4px solid black; 		
		width: 30vh;
		height: 10vh;
		border-radius: 15vh / 5vh;
		font-weight: bold;
		
	}	
/* End of Update styles*/










/*The Home Page Styles*/
	#HomePage h1 {
		display: block;
		float: left;
	}
	
	/*Sub Slip form styles*/
	#SubSlipForm {
		background-color: rgb(0, 192, 232);
		border-radius: 15px;
		/*width: 95%; */
		/* height: 20%; */
		border: 1px solid black;
		padding: 1em;
		margin: 1%;
		position: relative;
		display: block;
		float: left;
	}
	
	#SubSlipForm h2 {
		border: 1px solid black;
		border-radius: 15px;
		padding: 1em; /*padding: <padding-top> || <padding-right> || <padding-bottom> || <padding-left>*/
		display: block;
		float: left;
		
		
		
	}
	#GoToDate {
		cursor: pointer;
		cursor: hand;
	}
	.NoShiftOption {
		background: grey;
		color: red;
	}
	
	.ShiftOptionOkay{
		
	}
	
	#SubSlipSelectDate { 		
		padding: 1em;
		border: 1px solid black;
		border-radius: 15px;
		display: block;
		float: left;		
		margin: 1em;
	}
	
	#SubSlipSelectDate p {
		margin: 0;
		padding: 0;
	}
	
	#SelectShiftsDiv p {
		margin: 0;
		padding: 0;
	}
	
	#SelectShiftsDiv {
		padding: 1em;
		border: 1px solid black;				
		border-radius: 15px;
		display: block;
		float: left;		
		margin: 1em;
		
		
	}
	#ReasonDiv p {
		margin: 0 0 0 3%;
		padding: 0;
	}
	#ReasonDiv h3 {
		margin: 0 3% 3% 3%;
		padding: 0;
		display: inline-block;
	}
	#ReasonDiv textarea {		
		display: inline-block;
		resize: none;
		height: 50%;
		
	}
	#ReasonDiv {	
		border: 1px solid black;
		border-radius: 15px;
		display: block;
		float: left;
		padding: 1em;		
		margin: 1em;
	}
	#HandInSubslip {
		border: 1px solid black;
		border-radius: 15px;
		display: block;
		float: left;
		padding: 1em;
		
		margin: 1em;
	}
	#HandInSubslipSubmit {
		margin: 1em;
		border: 5px solid black;
		background: green;
		display: block;
		float: left;
		padding: 1em;
		border-radius: 15px;		
		font-weight: bold;
		cursor: pointer;
		cursor: hand;
	}
	
	/*End of SubSlip Form styles*/
	
	

	
	#ShiftsUpForGrabs {
		width: 30%; 
		height: 100vh;						
		border: 5px solid black;
		background: white;
		padding: 0;
		display: block;
		float: left;
		margin: 1em;
		
	}
	#ShiftsUpForGrabs h3 {		
		padding: 0;
		margin:0;
		border-bottom: 5px solid black;
		background: rgb(195,195,195);
		text-align: center;
	}
	
	#SubSlipCell p {
		 
	}
	#TakeShiftButton	{
	
	}
	
	#SubSlipCell {
		border: 3px solid black;
		/*background: rgb(195,195,195);*/
		color: black;
		margin: 1em;
		border-radius: 40px;
		padding: 1em;
	}
	
	#TitleOfShiftsUpForGrabs {
		
	}
	
	#InnerShiftsUpForGrabs {
		overflow: auto;
		height: 88%;		
	}
	
	/*Chat box stlyes */
		#ChatBox { 
			width: 60%; 
			border: 5px solid black;
			float: left;
			display: inline;
			margin: 2%;
			padding: 0 0 0 0;
		}		
		#ChatBoxTite {
			border-bottom: 5px solid black;
			text-align: center;					
			background: rgb(195,195,195);
			margin: 0;
			padding: 0 0 0 0;
		}
		
		#ChatInputBox {
			background: rgb(0, 192, 232);
			border-bottom: 5px solid black;		
			padding: 2%;
			overflow: hidden;
			display: block;
			
			
		}
		#ChatName {
			border-bottom: 1px solid black;
			width: 60%;
			margin-bottom: 1em;
		}
		#ChatInputTextArea {
		    resize: none;
			width: 80%;				
			display: block;
			float: left;
			margin-bottom: 2%;
			overflow: hidden;
		}
		#PostButton {
			border: 4px solid black;
			background: green;
			width: 10%;
			padding: 0.5em;
			border-radius: 15px;
			display: block;
			float: left;
			cursor: pointer;
			cursor: hand;
		}
		#ChatMessageBox {
			background: white;
			margin: 0;
			height: 70vh;
			overflow: auto;
			padding: 1%;
		}
		#ChatPost {
			border: 2px solid black;
			margin: 1%;
			border-radius: 15px;
			background: rgb(195,195,195);
			padding: 1%;
			overflow: hidden;

		}
		#PostName {
			border: 1px solid black;
			display: inline-block;
			float: left;
			padding-left: 1%;
			padding-right: 1%;
			margin: 1%;
		}
		#PostDate {
			border: 1px solid black;
			display: inline-block;
			float: left;
			padding-left: 1%;
			padding-right: 1%;
			margin-right: 15%;
			margin-top: 1%;
		}
		#PostMessage {
			border: 1px solid black;
			overflow: hidden;
			width: 90%;
			margin: 1%;			
			border-radius: 15px;
			padding-left: 1em;
			padding-right: 1em;
			background: white;
		}
		.ReasonDiv {
			border: 1px solid black;
			overflow: hidden;
			width: 90%;
			margin: 1%;			
			border-radius: 15px;
			padding-left: 1em;
			padding-right: 1em;
			background: white;
		}
	/*End of Chat box stlyes */	

/*End of Home Page styles*/









/*	Start of The Schedule Page Styles 	*/	
	#SchedulePage {
		text-align: center;
		
	}
	
	
	
	#SchedulePageUpperRow {
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	
	#GoToToday	{
		/*background: red;*/
		/*color: black;*/
		border: 3px solid black;
		border-radius: 50%;
		width: 10%;
		display: inline;
		float: left;
		margin: 0;
		position: relative;
		left: 20%;
	}
	
	#SelectDate {
		width: 30%;
		margin: 0;
		overflow: hidden;
		position: relative;
		left: 25%;
	}
	
	#SelectScheduleDate {
		margin: 0;
		padding: 0;
		text-align: center;
		
	}
	
	
	

	
	
	
	#SchedulePageBottomRow {
		margin: 2%;
		padding: 0%;
		overflow: hidden;
		position: relative;
		left: 20%;
		
	}
	
		
	#GoBackADay {
		display: inline-block;
		float: left;
		margin: 0 3% 0 0;
		
		cursor: pointer;
		cursor: hand;
		
	}
	
	#GoBackADay img {
		display: block;
		float: left;
		
		cursor: pointer;
		cursor: hand;

	}
	
	#GoBackADay p {
		display: block;
		float: left;
		color: blue;
		text-decoration: underline;
	}
	
	
	
	
	
	#DateBox h3 {
		padding: 0;
		margin: 0;
		
	}

	
	#GoForwardADay {
		margin: 0 0 0 3%;
		display: inline-block;
		float: left;
		
		cursor: pointer;
		cursor: hand;
	}

	#GoForwardADay p {
		display: block;
		float: left;
		color: blue;
		text-decoration: underline;
		
	}
	
	#GoForwardADay img {
		display: block;
		float: left;
		
		cursor: pointer;
		cursor: hand;
	}
	
	#DateBox {
		border: 3px solid black;
		background: rgb(195,195,195);	
		color: black;
		width: 30%;
		margin: 0%;
		padding: 0%;
		text-align: center;
		
		display: block;
		float: left;
		
	}
/*	End The Schedule Page Styles 	*/



/* Schedule specific styles */
	
	/*The acutaly schedule table element on create shift and the schedule page. */
	#ContainerSchedule {
		width: 100%;
		overflow: auto;		
		padding: 0;
		display: block;		
	}
	
	#schedule {
		border: 1px solid black;			
		text-align: center;
		background: rgb(239,228,176);
		width: 100%;
		padding: 0;		
	}
	
	
	#schedule th {
		border: 1px solid black;
			
	}
	
	#schedule .time {
		border: 1px solid black;
		background: rgb(195,195,195);		
		padding: 0;
		font-size: 50%;
		height: 3em;
		
		
	}
	
	#schedule .BackgroundSchedule {
		border: 1px solid black;
	}
	
	#schedule td {				 
		
	}
	
	.SmallerText {
		font-size: 50%;
	}
	
	#schedule .TopNamesBar {
		background: rgb(195,195,195);
		border: 1px solid black;
		font-size: 50%;
	}
	.NoShiftTD {
		border-bottom: 1px dashed rgb(195,195,195);
		border-top: 1px dashed rgb(195,195,195);
	}
	
	/*Classess for shifts*/
	.LifeguardShift {
		background: rgb(237,28,36);
		
	}
	
	.HeadGuardShift {
		background: rgb(127,127,127);
	}
	
	.InstructorShift {
		background: rgb(0, 162, 232);
	}
	
	.SupervisorShift {
		background: purple;
	}
	
	.ShiftTypeErrorColor {
		background: Yellow;
	}
	
	.ENDshift {
		margin: 0 4% 5% 4%; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;		
		border-bottom-left-radius: 2em;
		border-bottom-right-radius: 2em;
	}	
	.STARTshift {		
		padding: 1% 0 0 0;
		margin: 2% 4% 0 4%; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-top-left-radius: 2em;
		border-top-right-radius: 2em;
	}	
	.STARTandENDshift {		
		padding: 1% 0 1% 0;
		margin: 2% 4% 0 4%; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/
		border-top: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		border-top-left-radius: 2em;
		border-top-right-radius: 2em;
		border-bottom-left-radius: 2em;
		border-bottom-right-radius: 2em;
	}
	.MIDDLEshift {	
		margin: 0 4% 0 4%; /*margin: <margin-top> || <margin-right> || <margin-bottom> || <margin-left>*/	
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	
	
/* End of Schedule specific styles */









/*Start of Create Shift Page Styles*/

	#CreateAShiftPage {
		
	}
	.CertsString {
		margin-left: 2em;
	}
	#CreateAShiftPageTop {
		width: 100%;
		/*height: 100%;*/
		display: block;
		float: left;
		padding-bottom: 10vh;

	}
	#CreateAShiftPageTop form {
	
	}
	#CreateAShiftPageTop .End {
		
	}	
	#CreateAShiftPageTop #CreateShiftSubmit {
		background: green;
		border: 3px solid black;
		border-radius: 10px;
		padding: 1em;		
		width: 25%;
		cursor: pointer;
		cursor: hand;
		
	}
	#SelectShiftDate {
		
	}
	#CreateShiftDateBox { 
		border: 3px solid black;
		background: rgb(195,195,195);	
		color: black;
		text-align: center;				
	}
	#CreateAShiftPageBottom {
		width: 100%;
		/*height: 100%;*/
		display: block;
		float: left;
		border:1px solid black;
	}
	#thisEmployeesAvailability{
		background: green;
		border: 1px solid black;
	}
	#Step1 {

	}
	#Step2 {
	
	}
	#Step3 {
	
	}
	#Step3 li {
		list-style: none;
	}
	#Step4 {
		margin-top: 2%;
		display: inline-block;
		width: 95%;
		text-align: left;
		margin-bottom: 2%;


	}
	#Step4 h4 {
		margin-left: 5%;
	}
	#Step4 p {
		margin-left: 5%;
	}	
	#EmployeeListBox {
		background: white;
		color: black;		
		text-align: left;		
		direction: rtl;
		border: 5px solid black;
		display: block;
	}
	/*
	#EmployeeListBox h3{
		text-align: center;		
		height: 5vh;
		margin: 0 0 0 0;
		background: rgb(195,195,195);
		border-bottom: 5px solid black;
	}*/
	#EmployeeListInner {
		direction: ltr;
		overflow: auto;
		max-height:  40vh;
		min-height: 3vh;
	}
	#EmployeeCell {
		display: block;
		border: 3px solid black;
		margin: 1em;
		padding: 0.5em;		
		text-align:  left;		
		overflow: hidden;
		border-radius: 15px;
	}
	#EmployeeCell ul {
		margin: 0;
	}
	
	.Backgroundblue {
		background: rgb(153,217,234)
	}
	
	.CertTableinEmployeeList {
		border-collapse: collapse;
	}
	
	.EmployeeCellLEFT {
		display: block;
		float: left;
		
	}
	.EmployeeCellRIGHT {
		display: block;
		float: right;
		border:1px solid black;		
		font-size: 1em;
	}
	#FeedBackBox {				
		border: 5px solid black;
		background: rgb(195,195,195);
		padding:0;		
		display: inline-block;
		float: left;	
		margin: 1em;
		text-align: center;
		min-width: 20%;
	}
	#FeedBackBox h3 {
		padding: 0;
		margin:0;
		border-bottom: 5px solid black;
		background: white;
	}
	#FeedBack {
		margin: 0;
		padding: 1em;
		
	}
	
	.GeneralWhiteGreyContainer {
		border: 4px solid black;
		background: rgb(195,195,195);
		padding:0;		
		display: block;
		float: left;	
		margin: 0.5em;
		
	}
	.GeneralWhiteGreyContainer h3 {
		padding: 0;
		margin:0;
		border-bottom: 4px solid black;
		background: white;
		text-align: center;
	}
	.GeneralWhiteGreyInner {
		margin: 0;
		padding: 0.5em;
	}
/*End of Create Shift Page Styles*/










/* Start of Delete Shift Styles  */

	#DeleteAShiftPageTOP	{
		width: 100%;
		
		display: block;
		float: left;
		padding-bottom: 10vh;
		
	}
	 
	#DeleteAShiftPageBOTTOM {
		width: 100%;
		height: 100%;
		display: block;
		float: left;
	}

	#DeleteAShiftDateBox {
		border: 3px solid black;
		background: rgb(195,195,195);	
		color: black;
		text-align: center;
	}
	
	.TabRight {
		margin-left: 5%;
	}
	
	#DELETESelectDate {
		
		text-align: center;
		margin-bottom: 1em;
	}
	
	#SelectShift {
		color: blue;
		text-decoration: underline;
		cursor: pointer;
		cursor: hand;
	}
	
	#SelectedDelete {
		Border: 4px solid rgb(195, 195, 195);
		background: rgb(233,233,233);
		color: black;
		overflow: hidden;
	}
	
	#SelectedDelete p {
		margin-left: 1em;
	}
	
	
	#DeleteShiftLink {
		text-decoration: underline;
		color: red;
		font-weight: bold;
		display: block;
		float: right;
		margin: 1em;
		border: 1px solid red;
		padding: 1em;
		background: white;
	}
	
	#CancelDelete {
		text-decoration: underline;		
		font-weight: bold;
		display: block;
		float: left;
		margin: 1em;
		border: 1px solid black;
		padding: 1em;
		background: white;
	}

/* End of Delete Shift Styles */










/* Start of Approve sub slip page */
	/*Reject modal styles.*/
	#RejectSubSlipModal {
		display: none; 
		position: fixed; 		
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%; 		
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.6); 
	}
	#RSModalcontent {
		background-color: rgb(195,195,195);
		margin: 20% auto;	
		border: 3px solid black;
		width: 50%; 
		padding: 0;
		
	}
	#RSModalcontent textarea{
		margin: 1em;
		height: 10%;
		width: 40%;
		resize: none;
	}
	#RSModalcontent h3 {
		margin: 1em;
	}
	
	#RSModalcontent input{
		margin: 1em;
		cursor: pointer;
		cursor: hand; 
	}
	#close {
		color: black;
		background: white;
		float: right;
		display: block;		
		font-size: 30px;
		font-weight: bold;
		border-radius: 50%;		
		text-align: center;
		line-height: 1em;
		height: 1em;
		width: 1em;
		border: 1px solid black;
		padding: 0;
		margin: 0;
		position: relative;
		
	}
	#close:hover,
	#close:focus {
		background: red;
		color: black;
		text-decoration: none;
		cursor: pointer;
		cursor: hand; 
	}
	/*End of Reject modal styles*/
	
	
	#ApproveSubslipID {
		display: none;
	}
	#ApproveOwnerID, #ApproveShiftID, #ApproveTakerID{
		display: none;
	}
	#SshiftID {
		display: none;
	}

	
	#BoxOfAvialiableSubslips {
		border: 3px solid black;
		width: 60%;
		margin-left: 20%;
		border: 5px solid black;
		background: rgb(195,195,195);
		padding: 0;
		display: block;
		float: left;
	
	}
	
	#BoxOfAvialiableSubslips h3 {
		border-bottom: 5px solid black;
		background: rgb(195,195,195);
		padding: 0;
		margin: 0;
		text-align: center;
	}
	
	#InnerBoxOfAvialiableSubslips {
		background: white;
		height: 500px;
		overflow: auto;
	}
	
	#SubmittedSubSlip {
		border: 3px solid black;
		background: rgb(195,195,195);
		color: black;
		margin: 1em;
		border-radius: 40px;
		padding: 1em;
	}
	.SSrejectButton {
		cursor: pointer;
		cursor: hand;
	}
	.SSacceptButton {
		cursor: pointer;
		cursor: hand;
	}
	
/* End of Approve sub slip page */


/*Start of Availability manager styles */
	#AvailabilityForm {
		border: 5px solid black;
		background: white;
		padding:0;		
		display: block;
		float: left;	
		overflow: hidden;
		width: 75%;
		margin-left: 2em;
		
	}
	#innerAvailabilityForm {
		display: none;
	}
	#SelectedEmployeeBox {				
		padding: 0.3em 0.0em 0.2em 0.7em;/*top-right-bottom-left*/
		color: black;
		display: inline-block;
		float: left;
		width: 100%;
		border-bottom: 5px solid black;
		margin:0;
		background: rgb(195,195,195);
		
	}
	#EmployeeCertifications {
		display: inline-block;
		float: left;
		
	}
	#EmployeeCertifications .cert {
		padding-left: 1rem
	}
	.AvailabilityDay {		
		color: black;
		margin: 0.7em;
		padding: 0.2em;
		display: inline-block;
		float: left;				
		border: 3px solid black;
	}
	.AvailabilityDay h3 {
		border-bottom: 3px solid black;
		margin: 0 0 0.5em 0; /*top-right-bottom-left*/
	}
	#AvailabilityNotes {
		display:  inline-block;
		float: left;
	}
	#Availability textarea {
		resize: none;
	}
	#AvailabilityNotes h3{
	
	}
	
	#SumitAvailiability{
		color: black;
		background: green;
		border: 4px solid black; 		
		width: 30vh;
		height: 10vh;
		border-radius: 15vh / 5vh;
		font-weight: bold;
		display: block;
		float: right;
	}
	.HideEmployeeID {
		display: none;
	}
	.block {
		display: block;
	}
/*End of availability crud styles*/